/*Modify theme to reduce header size*/
section.page-header {
    height: 90px;
    min-height: 90px;
}
section.page-header .page-header_title {
    margin-top: 10px;
}

.material-icons {
    color: #ad208e;
}

.username {
    color: #ad208e;
    font-weight: bold;
}

.clear {
    clear: both;
}

/*questionnaire*/
#wic-questionnaire-wrapper .questionnaire-wrapper {
    margin: auto;
}

#wic-questionnaire-wrapper .question div.answer-choices {
    display: inline-block;
    /*margin: 10pt 10pt;*/
}
#wic-questionnaire-wrapper .question div.answer-choices div.answer-choice {
    display: inline-block;
    vertical-align: top;
    width: 30pt;
}
#wic-questionnaire-wrapper .question span.answer-label {
	font-weight: bold;
    vertical-align: middle;
}

#wic-questionnaire-wrapper span {
    display: block;
    margin-top: -1.2em;
    margin-left: 25px;
}

#wic-questionnaire-wrapper input {
    /*width: 13px;*/
    /*height: 13px;*/
    /*padding: 0;*/
    /*margin:0;*/
    /*vertical-align: bottom;*/
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#wic-questionnaire-wrapper .material-icons {
    padding-right: 10px;
    display: inline-flex;
    vertical-align: middle;
}

/* TODO: make this less hacky */
#wic-questionnaire-wrapper .low-text{
    display: block;
    margin-top: 1.4em;
    margin-left: 1em;
    padding-left: 2em;
}

#wic-questionnaire-wrapper .high-text {
    display: block;
    margin-top: 1.4em;
    margin-left: .1em
}

#wic-questionnaire-wrapper .group_heading {
    text-align: center;
}

#wic-questionnaire-wrapper .response_freeform  {
    min-width: 199px;
    margin-left: 5px;
}

#wic-questionnaire-wrapper .prompt::first-letter {
    text-transform: capitalize;
}
#wic-questionnaire-wrapper div.answer-choices {
    clear: right;
}
#wic-questionnaire-wrapper .group .prompt {
    display: inline-block;
    /*width: 400px;*/
}
#wic-questionnaire-wrapper .group.prompt {
    color: #000000;
    display: block;
    clear: both;
    width: auto;
    margin-top: 2em;
}
/*.prompt {*/

    /*margin-top: -2.5em;*/
/*}*/

#wic-questionnaire-wrapper h4 {
    margin: 0;
}




/* temp */

/* HH questionnaire */
.hh-questionnaire-wrapper {
    margin: auto;
}
#hh-questionnaire-wrapper  .question div.answer-choices {
    display: inline-block;
    margin: 10pt 10pt;
}
#hh-questionnaire-wrapper  .question div.answer-choices div.answer-choice {
    display: inline-block;
    vertical-align: top;
    width: 30pt;
}
#hh-questionnaire-wrapper  .question span.answer-label {
	font-weight: bold;
    vertical-align: middle;
}

#hh-questionnaire-wrapper span {
    display: block;
    margin-top: -1.2em;
    margin-left: 25px;
}

#hh-questionnaire-wrapper input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#hh-questionnaire-wrapper .material-icons {
    padding-right: 10px;
    display: inline-flex;
    vertical-align: middle;
}

/* TODO: make this less hacky */
#hh-questionnaire-wrapper .low-text{
    display: block;
    margin-top: 1.4em;
    margin-left: 1em;
    padding-left: 2em;
}

#hh-questionnaire-wrapper .high-text {
    display: block;
    margin-top: 1.4em;
    margin-left: .1em;
}
