/* Created by Scott R. Leitstein */
/* Source: http://www.cdc.gov/TemplatePackage/3.0/css/homepage/homepage.css */

.theme-blue .titlebar {
  background: #075290;
  height: 50px;
  max-height: 50px;
  overflow: visible!important;
}
.theme-blue .titlebar > span {
  font-size: 18px;
  color: #ffffff;
  display: inline-block;
  margin: 15px;
  margin-right: 20px;
}

.theme-blue .titlebar li.dropdown > a {
  border: 1px solid #075290;
}
.theme-blue .titlebar a:focus {
  /*outline: none!important;
  border: none!important;*/
  border: 1px solid #FFA500 !important;
}

/* Custom FGH CDC Healthy Habits Styles */

#questionnaire-name {
    text-align: center;
    font-weight: bold;
}

#submit-wrapper {
    text-align: right;
    margin: 20pt 0;
}
.main {
    padding: 0 10pt;
}
.prompt {
    font-weight: bold;
}
.question {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
.question div.low-scale {
    float: left;
}
.question div.high-scale {
    float: right;
}
.question img {
    width: 80pt;
}
.question div.answer-choices {
    display: inline-block;
    margin: 10pt 90pt;
}
.question div.answer-choices div.answer-choice {
    display: inline-block;
    width: 100pt;
}

.question span.answer-label {
    vertical-align: middle;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -2px #7DC734;
}
