{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<p>A project of the Frogs' Greatest HITs team at Georgia Institute of Technology, Atlanta, GA.</p>
<p>Members:</p>
<ul>
    <li>Wade Ashby - UI guru</li>
    <li>Bobbie Eicher - </li>
    <li>Scott Leitstein - project manager</li>
    <li>Cindy Schaller - client wrangler</li>
    <li>Dana Sheahen - voice of sanity</li>
    <li>Angela Smiley - maker of successively less ugly* prototypes</li>
<p>*She hopes.</p>
</ul>
<img src="/static/fgh-logo.jpg"/>
{% endblock %}
