{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<p>A project of the Frogs' Greatest HITs team at Georgia Institute of Technology, Atlanta, GA.</p>
<p>Members:</p>
<ul>
    <li>Wade Ashby - UI Lead</li>
    <li>Bobbie Eicher - Documentation Lead</li>
    <li>Scott Leitstein - Team Coordinator</li>
    <li>Cindy Schaller - Project Manager</li>
    <li>Dana Sheahen - Test Lead</li>
    <li>Angela Smiley - Design Architecture Lead</li>
</ul>
<img src="/static/fgh-logo.jpg"/>
{% endblock %}
