{% load menu %}{% generate_menu %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Questionnaire{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" />

        {% block headextra %}{% endblock %}
    </head>

    <body>
        <h1 style="padding:0 10pt">Main Menu</h1>
        {% with menu=menus.main %}{% include "menu.html" %}{% endwith %}

        <hr/>

        <div class="main" style="padding:0 10pt">{% block content %}</div>
        {% endblock %}
    </body>
</html>
