{% load menu %}{% generate_menu %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Questionnaire{% endblock %}</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" />

        {% block headextra %}{% endblock %}
    </head>

    <body>
        <h1>Main Menu</h1>
        {% with menu=menus.main %}{% include "menu.html" %}{% endwith %}

        <hr/>

        {% block content %}
        {% endblock %}
    </body>
</html>
