{% extends "base.html" %}

{% block content %}
    <div>Select a patient with whom to "log in":</div>
    {% for server_id, patients in patientGroups.items %}
    <div><i>{{ server_id }} server:</i></div>
    <ul>
        {% for patient_id, patient_desc in patients.items %}
        <li><a href="#" onclick="setUser('{{ patient_id }}', '{{ server_id }}')">{{ patient_desc }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
    <label for="free-patient-id">Or, specify another patient from one of our supported databases:</label><br/><input id="free-patient-id" type="text" />
    <select id="free-patient-server">
    {% for server_id in patientGroups %}
        <option value="{{ server_id }}">{{ server_id }}</option>
    {% endfor %}
    </select>
    <input type="button" name="Choose other patient" value="Choose" onclick="setUser($('#free-patient-id').val(), $('#free-patient-server').val());" />
    <script type="text/javascript">
        function setUser(userId, serverId) {
            if (typeof serverId != "undefined") {
                document.cookie = "serverId="+serverId+"; path=/";
            }
            document.cookie = "userId="+userId+"; path=/";
            window.location.href = "/questionnaire/respond_hh";
        }
    </script>
{% endblock %}
