{% extends "base.html" %}

{% block content %}
    <div>Select a patient with whom to "log in":</div>
    <ul>
    <!--
        <li><a href="#" onclick="setUser(1)">Leonardo, age 16</a></li>
        <li><a href="#" onclick="setUser(2)">Raphael, age 15</a></li>
        <li><a href="#" onclick="setUser(3)">Donatello, age 14</a></li>
        <li><a href="#" onclick="setUser(4)">Michaelangelo, age 13</a></li>
        <li><a href="#" onclick="setUser(5)">Parent/guardian of Zach, age 10</a></li>
        <li><a href="#" onclick="setUser(6)">Parent/guardian of Caitlin, age 10</a></li>
    -->
        <li><a href="#" onclick="setUser(18791941)">Parent/guardian of Clark, age 10</a></li>
        <li><a href="#" onclick="setUser(18791962)">Parent/guardian of Diana, age 8</a></li>
        <li><a href="#" onclick="setUser(18791983)">Beatrice, age 14</a></li>
        <li><a href="#" onclick="setUser(18792004)">Tobias, age 15</a></li>
    </ul>
    <label for="free-patient-id">Or, specify another patient from the MiHIN database:</label><br/><input id="free-patient-id" type="text" />
    <input type="button" name="Choose other patient" value="Choose" onclick="setUser($('#free-patient-id').val())" />
    <script type="text/javascript">
        function setUser(userId) {
            document.cookie="userId="+userId+"; path=/";
            window.location.href = "/questionnaire/respond";
        }
    </script>
{% endblock %}
