{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="container-fluid main">
    <h2 id="questionnaire-name"><img src="../../images/HealthyHabitTrackerTitle.jpg"/></h2>
    <form id="questionnaire" action="/questionnaire/respond/" method="post">
        {% csrf_token %}
        <div id="questionnaire-wrapper"></div>
        <div id="submit-wrapper">
            <button class="btn btn-default" type="button" id="reset-button" onclick="javascript:resetSelections()">Reset Selections</button>
            <button class="btn btn-default" type="submit" id="submit" onclick="javascript:submitResponse()">Submit</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
        }
        return "";
    }

    function getDisplayName() {
        return "{{ patientName }}";
    }

    function getQuestionnaire() {
        var patientQuestionnaire = [
            {% for question in questionnaire %}
                {
                    "id": "{{ question.linkId }}",
                    "type": "scale",
                    "prompt": "{{ question.text }}",
                    {% for extension in question.group.0.extension %}
                        {% if extension.url == "http://hl7.org/fhir/StructureDefinition/questionnaire-lowRangeLabel" %}
                            "lowText": "{{ extension.valueString }}",
                        {% elif extension.url == "http://hl7.org/fhir/StructureDefinition/questionnaire-highRangeLabel" %}
                            "highText": "{{ extension.valueString }}",
                        {% elif extension.url == "http://54.164.154.218:8000/fhir/StructureDefinition/questionnaire-lowRangeImage" %}
                            "lowImg": "{{ extension.valueString }}",
                        {% elif extension.url == "http://54.164.154.218:8000/fhir/StructureDefinition/questionnaire-highRangeImage" %}
                            "highImg": "{{ extension.valueString }}",
                        {% endif %}
                    {% endfor %}
                    "choices": [
                        {% for answer in question.option %}
                            {
                                "code": "{{ answer.code }}",
                                "text": "{{ answer.display }}"
                            }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ];
        return patientQuestionnaire;
    }

    function textDecode(fhirText) {
        if (typeof fhirText !== "undefined")
            fhirText = fhirText.replace(/(?:\r\n|\r|\n)/g, '<br/>');
        return fhirText;
    }

    function resetSelections() {
        var questionnaire = getQuestionnaire();
        var patientName = getDisplayName();

        var paginate = false;
        if (paginate) {
            // TODO: multi-page version of the questionnaire
        } else {
            $('#questionnaire-wrapper').html('');
            for (var i = 0; i < questionnaire.length; i++) {
                var question = questionnaire[i];
                var node = $("<div class='row question "+question["type"]+"'>");

                var prompt = question["prompt"].replace("%1$s", patientName);
                node.append("<h4 class='prompt'>"+prompt+"</h4>");

                if (question["type"] == "scale") {
                    var lowImg = question["lowImg"];
                    var lowText = textDecode(question["lowText"]);
                    var lowNode = $("<div class='radio-inline'>");
                    if (lowImg) lowNode.append("<img src='" + lowImg + "' />");
                    if (lowText) lowNode.append("<span class='answer-label'>" + lowText + "</span>");
                    node.append(lowNode);
                }

                var choices = question["choices"];
                var questionId = question["id"];
                var choicesNode = $("<div class='answer-choices'>");
                for (var j = 0; j < choices.length; j++) {
                    var text = textDecode(choices[j]["text"]);
                    var choice = $("<div class='radio-inline answer-choice'>");
                    if (typeof choice["image"] != "undefined")
                        choice.append("<img src='"+choice["image"][j]+"' />");
                    choice.append("<input type='radio' name='"+questionId+"' value='"+choices[j]["code"]+"' />");
                    choice.append("<br/>");
                    choice.append("<label for='"+choices[j]["code"]+"'>"+text+"</label>");
                    choicesNode.append(choice);
                }
                node.append(choicesNode);

                if (question["type"] == "scale") {
                    var highImg = question["highImg"];
                    var highText = textDecode(question["highText"]);
                    var highNode = $("<div class='radio-inline'>");
                    if (highImg) highNode.append("<img src='" + highImg + "' />");
                    if (highText) highNode.append("<span class='answer-label'>" + highText + "</span>");
                    node.append(highNode);
                }
                node.append('</div>');

                $('#questionnaire-wrapper').append(node);
                $('#questionnaire-wrapper').append("<hr class='hrDec'/>");
            }
        }
    }

    function validateForm() {
        errors = [];

        var questionnaire = getQuestionnaire();
        for (var i = 0; i < questionnaire.length; i++) {
            question = questionnaire[i];
            if (question["id"]) {
                var selected = $('input[name='+question["id"]+']:checked').val();
                if (typeof selected == "undefined") {
                    errors.push("You must choose an answer for '"+question["prompt"]+"'");
                }
            }
        }
        return errors;
    }

    function submitResponse() {
        var formErrors = validateForm();
        if (formErrors.length == 0) {
            return true;
        } else {
            alert(formErrors[0]);
            return false;
        }
    }

    $(function () { resetSelections(); });
    $('#questionnaire').submit(function (event) {
        if (!submitResponse()) event.preventDefault();
    });

</script>

{% endblock %}